#root {
  
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vw;
}

.dropdown-item.hover {
  background-color: rgb(144, 144, 144);
}

.dropdown-container::-webkit-scrollbar {
  display: none;
}

body, html {
  height: 100%;
  margin: 0;
}
