@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    height: max-content;
    /* background-color: #bbbbbbdc; */
    background-color:white;
    min-height: 100vw;
}

body{
    min-height: max-content;
}