@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    height: max-content;
    /* background-color: #bbbbbbdc; */
    background-color:rgb(204, 204, 183);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


body{
    background-color: bisque;
}
